# Dependencias
node_modules/

# Entorno
.env
.env.*
!.env.example

# Configuracion local/privada
application.yml
docker-compose.yml
docker-compose.*.yml
!docker-compose.example.yml
!docker-compose.deploy.example.yml

# Build/Cobertura
.nyc_output/
coverage/
dist/

# Logs
*.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor
.idea/
.vscode/

# SO/temporales
*.bak
*.swo
*.swp
*.tmp
*~
.DS_Store
Thumbs.db

# Docker volumenes locales
docker-volumes/
